@use 'setting' as *;

@use 'reset' as *;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// ------------------------------------
// ----- Write code from here ---------
html{
  scrollbar-width: none;
}

body {
  // width: calc(100vw - calc(100vw - 100%)); //横スクロール防ぐ
  background-color: $bg;


  // @include mq(s) {
  //   background-color: rgb(183, 183, 93);
  // }
  // @include mq(m) {
  //   background-color: purple;
  // }
  // @include mq(l) {
  //   background-color: rgb(133, 133, 133);
  // }

  // dist内のCSSからのパス
  // background: url('./images/top_k_logo.png');
}

// =================================================
// a {
//   color: white !important;
// }

.categoryMain {
  // min-height: 50px;
  // background-color: red;

  &__item {
    // min-height: 50px;
    // background-color: yellow;
  }
}

.FieldInfo {
  color: rgb(251, 174, 44);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.mainAreaCat {
  min-height: 70vh;
}

// Blog.php
.blogImg {
  max-height: 450px;
}

.commentNumber {
  float: right;
}

.postCardBtn {
  float: right;
}

// EditPost.php
.existCategory {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.editImg {
  width: 170px;
  height: 70px;
}

// FullPost.php
.commentBlock {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.commentImg {
  width: 100px;
}

// Login.php
.loginBox {
  min-height: 500px;
}