@use 'reset' as *;

@use 'setting' as *;

@use 'loading' as *;

@use 'blog' as *;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// ------------------------------------
// ----- Write code from here ---------
html{
  scrollbar-width: none;
}

body {
  // width: calc(100vw - calc(100vw - 100%)); //横スクロール防ぐ
  background-color: $bg;


  // @include mq(s) {
  //   background-color: rgb(183, 183, 93);
  // }
  // @include mq(m) {
  //   background-color: purple;
  // }
  // @include mq(l) {
  //   background-color: rgb(133, 133, 133);
  // }

  // dist内のCSSからのパス
  // background: url('./images/top_k_logo.png');
}

// =================================================
.categoryMain {
  // min-height: 50px;
  // background-color: red;

  &__item {
    // min-height: 50px;
    // background-color: yellow;
  }
}

.FieldInfo {
  color: rgb(251, 174, 44);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.mainAreaCat {
  min-height: 70vh;
}

// Blog.php
.blogImg {
  max-height: 450px;
}

.commentNumber {
  float: right;
}

.postCardBtn {
  float: right;
}

.heading {
  font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #005e90;

  &:hover {
    color: #0090DB;
  }
}

// EditPost.php
.existCategory {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.editImg {
  width: 170px;
  height: 70px;
}

// FullPost.php
.commentBlock {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.commentImg {
  width: 100px;
}

// Login.php
.loginBox {
  min-height: 500px;
}



// ==================================
// Header.php
// ==================================
.navbar {
  background-color: #d3b056;

  .nav-item {

    &:hover {
      transform: translate(0, 2px);
      filter: brightness(1.2);
      transition: all 0.6s ease;
    }

    .nav-link {
      color: white;
    }
  }
}

.headerContainer {
  width: 100vw !important;

  @media screen and (max-width: 1200px) and (min-width: 992px) {
    display: block !important;
  }

  .navbar-brand {
    &:hover {
      opacity: 0.8;
      transition: all 0.6s ease;
      transform: translate(0, 4px);
    }
  }

  .headerLogo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .goToAdBtn {
    color: #015e9c !important;

  }
  .logoutBtn {
    color:#a11111 !important;
  }
}

#navbarcollapseCMS {
  justify-content: flex-end !important;

  .navbar-nav {
    align-items: center;
  }
}

.headerLoginBtn {

  &:hover {
    transition: all 0.6s ease;
    transform: translate(0, 4px);
  }

  a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;

    &:hover {
      color: white;
      transition: all 0.6s ease;
      background-color: rgb(107, 107, 107);
    }
  }
}

.searchBtn {
  background-color: #454545;
  color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgb(112, 112, 112);

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
}

// ==================================
// Posts.php
// ==================================
.postListImg {
  width: 170px ;
  height: 100px;
}